   @font-face {
    font-family: Pompadur;
    src: url(fonts/pompadur.ttf); 
   }
   body {
    font-family: Pompadur, 'Comic Sans MS', cursive;
    background-color: beige;
   }">
   a#special{
   font-stretch: extra-expanded;
   color: yellow;
   }
   i{
   	color: #DC143C;
   	size: 18px;
   }
   h1,h2{ 
   	size: 20px;
   	color: #DC143C;
    } 

   i.date{
   	color: #4B0082
   	} /* даты */

   i.brackets{
   	color: #191970;
   	} /* все что в скобках и не прибито гвоздями */

   i#name{
   	size: 16px;
   	color: black;
   	text-decoration: underline;
   	} /* имена*/

   i,b #journal{
   	color: #FF1493;
   	} /* журналы и прочая похожая дичь */

    i > b {
   	size: 12px;
   	text-shadow: 1px 1px 2px black, 0 0 5px red; /* Параметры тенm */
   	color: white;
   	} /* цитаты */
   	b > a {
   		text-decoration: underline;
   		color: blue;
   		size: 17px;
   	}
/* <!-- class="brackets" для текста в скобках -->
   <!-- <b><a> для определений -->
   <!-- <i> под даты -->
   <!-- <b> под названия групп-->	
   <!-- <i><b> цитаты -->      */